// Layout utilities and components
// Add your layout styles here
@use 'variables' as *;


.container {
  max-width: $container-max-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: $spacing-xlg;
}


@media (max-width: $mobile-breakpoint) {
  .container {
    max-width: calc(100vw - 2rem);
  }

  .heading {
    top: 15%;
    left: 1%;

    h1 {
      font-size: $font-heading-mobile-size;
    }
  }
}


