@use '../../styles/variables' as *;

main {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1.8fr;
  grid-template-rows: 1fr 8fr;
  gap: $spacing-lg;
  margin-bottom: $spacing-xlg;
}


@media (max-width: $mobile-breakpoint) {
  main {
    grid-template-rows: auto 2fr auto;
    grid-template-columns: 1fr;
  }
}
