@use '../../styles/variables' as *;

.wrapper {
  display: flex;
  align-items: center;
  background-color: var(--extra-muted-dark-color);
  border-radius: $border-radius-sm;
}

input {
  padding: 2rem 3.6rem 2rem 2rem;
  width: 100%;

  border: none;
  background: none;
  font-family: $font-family-heading;
  color: var(--extra-light-color);
  font-weight: 500;
  font-size: 2rem;
}

input:focus {
  outline: none;
}

.btn-ui {
  padding-left: 2rem;
}

.btn-ui .icon {
  stroke: var(--light-color);
  stroke-width: 3px;
  fill: none;
  transition: stroke 0.3s;

  &:hover {
    stroke: var(--extra-light-color);
  }

}