@use '../../styles/variables' as *;

nav {;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  background: var(--muted-dark-color-tp);
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
  padding: $spacing-md 0;
  font-size: $font-logo-size;
  color: var(--primary-color);
  letter-spacing: 2.4px;
  cursor: pointer;
  text-decoration: none;
}

.bookmark-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  align-self: stretch;
  cursor: pointer;

  &:hover {
    p, .icon {
      color: var(--extra-light-color);
      stroke: var(--extra-light-color);
    }
  }
}

.bookmark-btn p {
  font-family: $font-family-base;
  text-transform: uppercase;
  color: var(--light-color);
  font-size: $font-nav-size;
  transition: color 0.3s;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-ui .icon {
  stroke: var(--light-color);
  stroke-width: 3px;
  fill: none;
  transition: stroke 0.3s;
}

.btn.btn-ui {
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: $mobile-breakpoint) {
  .bookmark-btn p {
    display: none;
  }
}