@use '../../styles/variables' as *;

nav {;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  background: var(--muted-dark-color-tp);
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h3 {
  padding: $spacing-md 0;
  font-size: $font-logo-size;
  color: var(--primary-color);
  letter-spacing: 2.4px;
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.btn-ui {
  background: none;
  border: none;
  cursor: pointer;
}