@use '../../styles/variables' as *;


h1 {
  font-family: $font-family-heading;
  font-size: $font-heading-size;
  font-weight: 600;
  line-height: 1;
}

strong {
  font-weight: 900;
  font-style: italic;
}